!!!
%html{:lang => 'ru'}
  %head
    %title #{@title.to_s + ' — ' unless @title.nil?} Тыщ constXife Кьятлоттьяви
    %meta{:name => 'keywords', :content => 'blog constXife'}
    %meta{:name => 'author', :content => 'Tish Kiatlottiavi'}

    %script{:type => 'text/javascript', :src => '//vk.com/js/api/openapi.js?97'}
    %link{:href => 'http://fonts.googleapis.com/css?family=Scada', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => 'http://fonts.googleapis.com/css?family=Milonga', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => 'http://fonts.googleapis.com/css?family=Underdog&subset=cyrillic', :rel => 'stylesheet', :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => '//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'}
    %link{:rel => 'stylesheet', :href => '//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css'}
    %link{:rel => 'stylesheet', :href => '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'}
    -# %link{:rel => 'stylesheet', :href => stylesheet_path('application')}
    -#= auto_discovery_link_tag :atom, posts_path(format: 'atom')
    -#= csrf_meta_tags
  %body
    %div{:id => 'wrap'}
      %div{:class => 'container'}
        %header
          %h1
            %a{:href => '/'}
              constXife
            %h2 Обжигающе-холодные мерцающие угольки

            %ul{:class => 'nav'}

            %div{:id => 'content'}
              != yield

            %div{:id => 'push'}
    %footer
      %div{:class => 'container'}
        %div{:class => 'col-lg-4'}
          %a{:href => 'mailto:zombie.with.hair@gmail.com', :title => 'Связаться через e-mail'}
            %i{:class => ['fa', 'fa-envelope', 'fa-lg']}
          %a{:href => 'http://vk.com/tish.kiatlottiavi', :title => 'VK'}
            %i{:class => ['fa', 'fa-vk', 'fa-lg']}
          %a{:href => 'https://twitter.com/constXife', :title => 'Twitter'}
            %i{:class => ['fa', 'fa-twitter', 'fa-lg']}
          %a{:href => 'https://github.com/constXife', :title => 'Github'}
            %i{:class => ['fa', 'fa-github', 'fa-lg']}
        %div{:class => 'col-lg-4'} 2013
        %div{:class => ['col-lg-3', 'right']}
          -# %a{:href => "#{url('/blog/posts.atom')}", :title => 'RSS'}
          -#   %i{:class => ['fa', 'fa-rss', 'fa-lg']}
