// require formtastic-bootstrap
// require font-awesome.min
// require redactor-rails
// require jquery.fancybox
// require highlight/github

@import "variables";

html, body {
  height: 100%;
}

h1, h2, h3, h4 {
  font-family: 'Scada', sans-serif;
  font-weight: bold;
}

.hidden {
  display: none;
}

.center {
  text-align: center;
}

.scrollup{
  width:4%;
  height:100%;
  position:fixed;
  text-align: center;
  top:0;
  left:0;
  padding-top: 10px;
  color: #000;
  display:none;
  font-size: x-large;
  background: #efefef;
}
a.scrollup:hover {
  text-decoration: none;
}

header {
  margin-top: -10px;

  h1 {
    text-align: center;
    font-family: 'Milonga', cursive;

    a {
      color: inherit;
    }

    a:hover {
      color: inherit;
      text-decoration: inherit;
    }

    a.logout {
      font-size: medium;
      font-family: inherit;
      vertical-align: top;
      color: #002a80;
    }
  }

  h2 {
    line-height: 0;
    margin-bottom: 21px;
    text-align: center;
    font-size: small;
    color: #333;
    font-family: 'Underdog', cursive;
  }

  nav {
    ul {

      li {

        a {

        }
      }
    }
  }
}

ul.nav {
  text-align: center;
  font-size: large;
  margin: 0;
  padding: 0 0 0.5em 0;
  border-bottom: 1px solid #ccc;

  li {
    display: inline;

    a {
      display: inline-block;
      padding: 0.5em;
      margin-right: 0.5em;
      font-family: 'Scada', sans-serif;
    }

    a:hover {
      border-radius: 0.5em;
    }
  }

  li.active {
    a {
      background: #efefef;
      border-radius: 0.5em;
    }
  }
}

#content {
  color: #666;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

#push {
  height: 60px;
  clear: both;
}

footer {
  div.container {
    height: 20px;
    border-top: 1px solid #efefef;
    margin:  1em auto 0 auto;
    padding: 1em 0 0 0;
    text-align: center;
    font-size: 90%;
    color: #666;

    a {
      color: #000;
      margin-right: 1em;
    }

    a:hover {
      text-decoration: none;
    }

    .span4 {
      text-align: center;
    }

    .right {
      text-align: right;
    }
  }
}

#redactor {
  margin-bottom: 10px;
}

.chosen-select {
  width: 600px;
}

h2.label.label-primary {
  font-size: 150%;
  display: inline-block;

  a {
    color: #000;
  }
}

@import "posts";
