// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

h3.posts {
  a {
    color: #FF4500;
  }

  a:hover {
    text-decoration: none;
  }
}

div.posts, div.post {
  div.tags {
    margin-bottom: 1em;

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        display: inline-block;
        margin-right: 0.3em;

        a {
          color: #fff;
          background: lighten($default_link_color, 10%);
          font-size: small;
        }
        a:hover {
          background: $default_link_color;
        }
        a.current {
          background: lighten($default_link_color, 30%);
          color: #fff;
        }
      }
    }
  }

  h3 {
    font-size: x-large;
    margin-bottom: -5px;
    color: #000;

    a {
      text-decoration: none;
      color: #000;
    }
  }

  time {
    margin-top: 0.6em;
    margin-bottom: 0.5em;
    display: block;
    color: #999;
    font-size: small;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
    }
  }

  div.rule-panel {
    margin: 0.5em 0;

    a, button {
      margin-right: 1em;
    }
  }
}

#vk_comments {
  margin-top: 15px !important;
}